
@media screen and (max-width: 768px) {
    header {
      padding: 10px 20px; /* Adjust padding for smaller screens */
    }
  
    nav ul {
      flex-wrap: wrap; 
      justify-content: center; 
      display: grid;
      gap: 5%;
    }
  
    nav ul li {
      margin-right: 0; 
      margin-bottom: 10px; 
    }
  }
  

  @media screen and (max-width: 768px) {
    #sign {
      padding: 4% 10%; 
    }
  
    .Text {
      margin: 3%; 
    }
    .Text h1 {
      font-size: 40px; 
    }
    .Text img {
      margin-right: 0; 
      height: auto; 
      width: 90%; 
    }
    #explore {
      padding: 6px; 
    }
  }
  

@media screen and (max-width: 768px) {
    .Promax {
      flex-direction: column; 
      display: grid;
    }
  
    #head,
    #head2,
    #cell {
      width: 90%;
      height: auto; 
      margin-left: 0; 
      padding-top: 10%; 
    }
  }
  
@media screen and (max-width: 768px) {
    #products {
      grid-template-columns: 1fr; 
      gap: 15px; 
    }
  
    #products img {
      width: 100%; 
    }
  
    #products button {
      padding: 10px; 
    }
  
 
  }
  @media (max-width: 767px) {
    .Image {
      margin-left: 2%;
      gap: 4%;
    }
  
    #quoote {
      width: 80%;
      height: auto;
    }
  }